ion-grid{
  background-color: gray;
  justify-content: space-between;
  height: 90vh;
  padding: 0 !important;
  margin: 0  !important;
}
ion-item{
  --background: transparent;
  height: 10vh;
  width: 100%;
}
ion-row{
  cursor: pointer;
}
ion-icon{
  padding: 0 !important;
  margin: 0 !important;
  color: white;
  margin-left: auto !important;
}
