ion-menu{
  --background: gray;
  transition: 0.5s;
  width: 4.3%;
  height: 100vh;
  margin-left: -0.5%;
  margin-top: -0.5%;
}

ion-list{
  background-color: gray;
}

ion-item{
  --background: gray;
}

.active-page{
  --background: black!important;
}

.expanded{
  width: 15%;
  transition: 0.5s;
}

ion-icon{
  color: white;
}

.white{
  color: white;
}
