ion-menu{
  --background: gray;
  transition: 0.5s;
  --width: 50px;
  max-width: 200px;
  height: 100vh;
}

ion-list{
  background-color: gray;
  margin-top: 1%;
}

ion-item{
  --background: gray;
}

.active-page{
  --background: black!important;
}

.expanded{
  --width: 200px;
  transition: 0.5s;
}

ion-icon{
  color: white;
}

.white{
  margin-left: 10px;
  font-size: 1rem;
  color: white;
}
