.back-color {
  --background: rgb(0, 165, 255, 255);
}
.logo {
  height: 100%;
  cursor: pointer;
}

.header-icons{
  cursor: pointer;
  color: white;
}

.name {
  cursor: pointer;
  font-weight: bold;
  font-size: medium;
  color: white;
}



