<ion-content fullscreen="true">
  <app-header></app-header>
  <ion-grid class="ion-no-margin ion-no-padding">
    <ion-row>
      <app-side-nav></app-side-nav>
      <ion-col class="first-row">
        <ion-row>
          <ion-col>
            Orders
          </ion-col>
          <ion-col>

          </ion-col>
          <ion-col class="center">
            <ion-searchbar  placeholder="Filter Schedules"></ion-searchbar>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
