ion-content{
  margin: -10% !important;
  padding: 0 !important;
}

.first-row{
  box-shadow: 5px 5px 45px 14px rgba(0,0,0,0.39);
  background-color: white !important;
  padding-bottom: 10px;
  height: auto;
}

.right{
  text-align: right;
}

.center{
  text-align: center;
}

.input{
  border: 1px solid rgb(223, 214, 214);
  border-radius: 2px;
}

.boxes{
  background-color: rgb(230, 230, 230);
  margin: 5px 15px;
  padding: 10px;
  padding-bottom: 10%;
}

.boxes-row{
  justify-content: space-between;
}
// Second Row

.second-row{
  justify-content: space-around;
  height: 53.6vh;
}

.second-first{
  box-shadow: 5px 5px 45px 14px rgba(0,0,0,0.39);
  background-color: white !important;
  height: 100%;
}

.second-second{
  box-shadow: 5px 5px 45px 14px rgba(0,0,0,0.39);
  background-color: white !important;
}

