
// .first-row{
//   box-shadow: 5px 5px 45px 14px rgba(0,0,0,0.39);
//   background-color: white !important;
//   padding-bottom: 10px;
//   height: 35vh!important;
//   height: auto;
// }

// .right{
//   text-align: right!important;
// }

// .center{
//   // font-size: xx-large;
//   font-weight: bold;
// }

// .input{
//   height: 4vh;
//   border: 1px solid rgb(223, 214, 214);
//   border-radius: 2px;
// }

// .boxes{
//   background-color: rgb(230, 230, 230);
//   margin: 5px 15px;
//   text-align: left!important;
//   padding: 10px;
//   padding-bottom: 10%;
//   height: 20vh!important;
// }

// .boxes-row{
//   justify-content: space-between;
// }
// // Second Row

// .second-row{
//   margin: 1.3% 1.3%;
//   margin-top: -0.7%;
//   justify-content: space-around;
//   height: 50vh;
// }

// .second-first{
//   box-shadow: 5px 5px 45px 14px rgba(0,0,0,0.39);
//   background-color: white !important;
//   height: 100%;
// }

// .second-second{
//   box-shadow: 5px 5px 45px 14px rgba(0,0,0,0.39);
//   background-color: white !important;
// }

ion-grid ion-row{
  display: flex;
}

#content{
  height: 100vh;
  flex:1;
}

#menu{
  width: 20%;
  flex:1;
}

#wan{
  height: auto;
  border-radius: 5px;
  border: 1px solid rgb(230, 230, 230);
  margin: 0px 5px 0px 5px;
  padding: 0px 5px 0px 5px;
}
#tu{
  height: 385px;
  --background: transparent!important;
  margin: 0px 5px 0px 5px;
}

.transpa{
  --background: transparent;
}

.white{
  background-color: white!important;
}

.boxes{
  background-color: rgb(230, 230, 230);
  margin: 5px 15px;
  padding: 10px;
  padding-bottom: 10%;
}

ion-input, ion-select{
  border: 1px solid rgb(223, 214, 214);
  border-radius: 2px;
}

.second-first{
  border-radius: 5px;
  margin: 5px 5px;
  border: 1px solid rgb(230, 230, 230);
}

.second-second{
  border-radius: 5px;
  margin: 5px 5px;
  border: 1px solid rgb(230, 230, 230);
}
