ion-content{
  margin: -10% !important;
  padding: 0 !important;
}

.first-row{
  box-shadow: 5px 5px 45px 14px rgba(0,0,0,0.39);
  background-color: white !important;

}

.left{
  text-align: left;
}

.right{
  text-align: right;
}

.center{
  text-align: center;
}

.input{
  border: 1px solid rgb(223, 214, 214);
  border-radius: 2px;
}

.boxes{
  background-color: rgb(230, 230, 230);
  margin: 5px 15px;
  height: 100%;
}

.boxes-row{
  justify-content: space-between;
  height: 100%;
}

.second-row{
  height: 53.6;
  text-align: center;
}

.second-first{
  border: 1px solid black;
  border-radius: 5px;
}

.second-second{
  border: 1px solid black;
  border-radius: 5px;
}

